[user]
	email = thomas.junk@intevation.de
	name = Thomas Junk
[diff]
    tool = p4merge
[difftool]
    prompt = false
[difftool "p4merge"]
    cmd = p4merge "$LOCAL" "$REMOTE"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[merge]
	tool = meld
[cola]
	spellcheck = false
	startupmode = folder
	expandtab = true
	theme = default
	icontheme = default
[init]
	defaultBranch = main
[pull]
	rebase = false
[gui]
	editor = code
