[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yello
    remote = green

[color "status"]
    added =
		ellow
    hanged = green
    untracked = red

[user]
		name = Thomas Junk
		email = tjunk@intevation.de

[core]
		editor = vim

[web]
		browser = google-chrome

[diff]
		tool = meld

[merge]
    tool = meld

[gui]
[alias]
		lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
